.container {
    width: auto;
    margin-top: 0,5rem;
    display: flex;
    align-items: center;
    min-height: 50vh;
    text-align: center;
}
.title {
    width: auto;
    font-size: 180%;
    padding: 20px;
    font-weight: bold;
    font-style: italic;
    .time {
        width: auto;
        font-size: 14px;
        color: rgb(0, 0, 0);
        padding: 1%;
        opacity: 65%;
        margin: 0rem;
        margin-bottom: 0.5%;
    }
}

.weather-infos {
    width: auto;
    display: flex;
    align-items: center;
    min-height: 50vh;
    flex-direction: column;
    justify-content: space-around;
    justify-content: space-evenly;
}

.summer {
    width: auto;
    margin-top: 0%;
}
.temperature {
    width: auto;
    font-weight: bold;
    font-style: italic;
    font-size: 180%;
    padding: 2px;
    margin-bottom: 10px;
    margin-top: 2%;
}
.good {
    width: auto;
    margin-bottom: 20px;
    font-size: 150%;
    font-weight: bold;
    font-style: italic;
}


.infos {
    width: auto;
    font-style: italic;
    font-weight: bold;
    font-size: 0.8rem;
    display: flex;
    gap: 5rem;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 100px;
    padding: 0.6rem;
    justify-content: center;
    margin-bottom: 2rem;
    padding-right: -20px ;
    .border_right {
        width: auto;
        border-right: 2px solid rgba(0, 0, 0, 0.2);
        padding-right: 20px ;
        padding-left: 20px;

    }
    .border_left{
        width: auto;
        padding-right: 30px;
    }
}
