.weather {
    background-color: rgb(255, 255, 255);
    color: rgb(55, 160, 83);
    display: grid;
    padding: 5px;
    justify-items: auto;
    margin-block-end: 1rem;
    text-decoration: underline;
}